header {
	text-align: center;
}
section {
	text-align: center;
}
footer {
	text-align: center;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
    display: inline-table;
 }