.drag-range {
	margin-top: 20px;
	margin-bottom: 30px;
}
.map {
	width: 50%;
	height: 510px;
	float: left;
}
.arrow-answer {
	float: left;
}
.mapimg {
	margin-right: 50px;
	margin-top: 100px;
	float: right;
}
.arrow {
	height: 510px;
	width: 50%;
	float: left;
}
.arrow li {
	list-style-type: none;
	height: 90px;
	width: 90px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #BBBBBB;
}
.arrow li > img {
	cursor: move;
}
.line1 li{
	display: inline-block;
}
.line2 li{
	display: inline-block;
}
.line3 li{
	display: inline-block;
}
.line4 li{
	display: inline-block;
}
.line5 li{
	display: inline-block;
}
.answer {
	height: 90px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.answer li {
	display: inline-block;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	margin-left: 10px;
	margin-right: 10px;
	z-index: 1;
}
.answer li:not(.fix) {
	background-color: #BBBBBB;
}
.answer li > img:not(.fix) {
	cursor: move;
}
.ans-mark {
	color: #ff0000;
}
