.drag-range {
	margin-top: 20px;
	margin-bottom: 30px;
}
.choices {
	height: 150px;	
}
.choices li {
	display: inline-block;
	vertical-align: middle;
	z-index: 2;
	margin-left: 10px;
	margin-right: 10px;
}
.choices li img {
	height: 95px;
	width: 95px;
	cursor: move;
}
.compare {
	height: 150px;
}
.compare li {
	display: inline-block;
	vertical-align: middle;
	z-index: 1;
	margin-left: 10px;
	margin-right: 10px;
}
.com-left {
	height: 130px;
	width: 130px;
	background-color: #BBBBBB;
}
.com-right {
	height: 130px;
	width: 130px;
	background-color: #BBBBBB;
}
.com-mark {
	height: 100px;
	width: 80px;
	font-size: 60px;
}
.answer {
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.answer li {
	display: inline-block;
	vertical-align: middle;
	z-index: 1;
	margin-left: 10px;
	margin-right: 10px;
	height: 130px;
	width: 130px;
	background-color: #BBBBBB;
}
.ans-mark {
	color: #ff0000;
}
.box1 {
	height: 110px;
	width: 110px;
	background-color: #BBBBBB;
}
.box2 {
	height: 110px;
	width: 110px;
	background-color: #BBBBBB;
}
.box3 {
	height: 110px;
	width: 110px;
	background-color: #BBBBBB;
}
.box4 {
	height: 110px;
	width: 110px;
	background-color: #BBBBBB;
}
.box5 {
	height: 110px;
	width: 110px;
	background-color: #BBBBBB;
}
#log1 {
	height: 20px;
}
#log2 {
	height: 40px;
}
#log3 {
	height: 60px;
}
#log4 {
	height: 80px;
}
#log5 {
	height: 95px;
}
